<!DOCTYPE>
<html>
  <head>
    <title>Aino</title>
    <link href="https://unpkg.com/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet" />
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
